<!DOCTYPE html>
<html>
	<head>
		<title>Flock Event Confirm Registration</title>
		<link rel="stylesheet" href="/stylesheets/navbar.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	    <script src="/javascripts/confirmpass.js"></script>
	</head>
	<body>
		{{> part}}
 		<div class = "ContentPane">
 			<div id = "Title">
		 		<h4>
		 			CONFIRM REGISTRATION
		 		</h4>
		 	</div>
 			<span id = "alert">
 			</span>
	 		<div class = "Email">
	 			<span>
	 				<p>
	 					We just sent an email to {{Email}}. You can find your pin there.
	 				</p>
	 				<p>
	 					Please check your email, and fill out the information below to finish registration.
	 				</p>
	 			</span>
		 		<form name = "ConfirmRegister" action = "/ConfirmRegister" method = 'post' onsubmit = "return validatePinPasswords(this);">
		 			<input type = "hidden" name = "Email" value = "{{Email}}"></input>
		 			<label for="FirstName">Confirm Pin:</label>
		 			<input type = "text" name = "Pin"></input>
		 			<label for="Password">Password:</label>
		 			<input type = "password" name = "Password"></input>
		 			<label for="Confirm Password">Confirm Password:</label>
		 			<input type = "password" name = "ConfirmPassword"></input>
		 			<input type = "submit" class = "btn"></input>
	<!-- 	 			button adder here -->
		 		</form>
		 	</div>
		</div>
	</body>
</html>
