<!DOCTYPE html>
<html>
	<head>
		<title>About the founders</title>
	    <link rel="stylesheet" href="/stylesheets/navbar.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	    <link rel="stylesheet" href="/stylesheets/founders.css">
	</head>
	<body>
		{{> part}}
		<div class = "ContentPane">
			<span id = "Title">
				<h4>
					About the Founders
				</h4>
			</span>
			<div>
				<span>
					Hello
				</span>
			</div>
		</div>
	</body>
</html>