<!DOCTYPE html>
<html>
	<head>
		<title>Flock Home Page</title>
	    <link rel="stylesheet" href="/stylesheets/navbar.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	    <style>
	    	#AboutUs,#Useful {font-size:28pt;}
	    </style>
	</head>
	<body>
		{{> part}}
		<div class = "ContentPane">
			<span id = "Title">
				<h4>
					WELCOME TO FLOCK
				</h4>
			</span>
			<div id = "AboutUs">
				<h2>
					About Us
				</h2>
				<div>
					We are a company who's goal is to connect people to people. More specifically, we connect those without groups (or flocks as we call it) to those that are in groups and are welcome to new additions. Most of those times, those groups will be united by a certain event they may be attending.
				</div>
			</div>
			<div id = "Useful">
				<h2>
					Why You Should Use Us?
				</h2>
				<div>
					If you are ever in need of joining a group, this is the website to go to. Let's say you want to go to a concert. 
				</div>
			</div>
		</div>	
	</body>
</html>
