<!DOCTYPE html>
<html>
 	<head>
		<title>Flock Login</title>
	    <link rel="stylesheet" href="/stylesheets/navbar.css">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	    <script src="/javascripts/confirmpass.js"></script>
 	</head>
 	<body>
 		{{> part}}
 		<div class = "ContentPane">
 			<div id = "Title">
		  		<h4>
		 			Login Page
		 		</h4>
		 	</div>
 			<div>
 				If you already have an account, you can login below.
 			</div>
 			<span id = "alert">
 				{{alert}}
 			</span>
 			<form id = "Login" action = "/login" method = 'post' onsubmit = "return validateEmailPassword();">
 				<label for = "email">Email:</label>
 				<input type = "text" name = "email" ></input>
 				<label for = "password">Password: </label>
 				<input type = "password" name = "password" ></input>
 				<input type = "submit"></input>
 			</form>
			<div>
 				If you would like to make an account, click 
 				<a href = "/Register">here</a>
 				.
 			</div>
 			<div>
 				If you would like to just continue on without logging in, click
 				<a href = "/Events">here</a>
 				.
 			</div>
 			<div>
 				If you would like to login with Facebook, click
 				<a href = "/Facebook">here</a>
 				.
 			</div>
 		</div>
 	</body>
 </html>