<!DOCTYPE html>
<html>
 	<head>
		<title>Flock Login</title>
	    <link rel="stylesheet" href="/stylesheets/navbar.css">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
 	</head>
 	<body>
		{{> part}}
 		<div class = "ContentPane">
 			<div id = "Title">
		  		<h4>
		 			Login Page
		 		</h4>
		 	</div>
 			<div>
 				If you already have an account, you can login below.
 			</div>
 			<span id = "alert">
 				{{alert}}
 			</span>
 		</div>
	</body>
</html>