body {font-size:28pt;font-family:Lucida Sans Unicode, Lucida Sans LeftPane ;}

body div {display:inline-block;}

.active a {height:100px;background-color:orange; border-style:solid;border-color:white;border-width:4px;}

.RightPane {float:top;position:relative;text-align:center;}
