.event {display:block;background-color:black;border-style:solid;border-radius:25px;border-width:5px;border-color:red;text-align:center;margin-left:auto;margin-right:auto;color:white;
    position:relative;
    background: rgba(255,0,0, 0.1);overflow:hidden;margin-bottom:20px;
}

.ContentPane {background-color:transparent;}

.event div {font-size:17pt;position:relative;overflow:visible;}

.event .BIG .TRIG {margin-left:15px;font-size:32pt; color:red;}

.event div span {font-size:16pt;}

.HIDE {; position:relative; top:0px;overflow:visible;}