nav {font-size:16pt;}

#FLOCK {font-size:26pt;
min-height: 60px;
}

#NavItems li {display:inline-block;}

#NavItems li a {padding-left:25px;padding-right:25px;}

#FLOCK {position:relative;bottom:12px}