nav {font-size:16pt;}

body {background-image:url('/images/congruent_outline.png'); }

.ContentPane {position:relative;min-height: 600px;
height: auto !important;
height: 600px;left:100px;margin-right:200px;font-family:"Trebuchet MS", Helvetica, sans-serif;margin-left:3px;color:white;font-size:16pt;background: rgba(255,0,0, 0.1);overflow:hidden;}

form input {color:black;}

form select option {color:black;}

#FLOCK {font-size:26pt;
min-height: 57px;
}

#NavItems li {display:inline-block;}

#NavItems li a {padding-left:25px;padding-right:25px;}

#FLOCK {position:relative;bottom:12px}

#Title {text-align:center;}

#Title h4 {font-size:28pt;font-family:"Trebuchet MS", Helvetica, sans-serif;}

.ContentPane div div {font-size:16pt;text-indent:15px;}

#SearchTop{width:100px;}